<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net462" />
  <package id="Castle.Core" version="5.1.0" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.1.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.1.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.6.0" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.6.3" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.3" targetFramework="net462" />
  <package id="Moq" version="4.18.2" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>