<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.0-rc1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.0-unstable19" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.0.0-rc3" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.0.0-unstable10" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.0-rc1" targetFramework="net462" />
  <package id="Moq" version="4.5.30" targetFramework="net462" />
</packages>