<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.4.0" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.6.0" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.1" targetFramework="net462" />
  <package id="Moq" version="4.12.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net462" />
</packages>