<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jobbr.Client" version="1.1.0-unstable.2" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.1.0-unstable.7" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net462" />
</packages>