<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.1.0-unstable.10" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.1.0-unstable.7" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.Execution.Forked" version="1.0.1" targetFramework="net462" />
  <package id="Jobbr.Server.WebAPI" version="1.1.0-unstable.2" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net462" />
</packages>